<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('navbar')%>
    Show Product
    <% for(let i=0;i<products.length;i++){%>
    <li style="border: 2px solid black; border-radius: 10px; width: fit-content ; height: 30px; padding: 7px;">Name: 
     <%=products[i].name%>
     --Price: <%=products[i].price%>
     --Quantity: <%=products[i].quantity%>
     --Description: <%=products[i].description%>
    </li>
        
        
    <%}%>
    
</body>
</html>